@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 340 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 340 91.2% 59.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --prose-body: hsl(var(--foreground));
    --prose-headings: hsl(var(--foreground));
    --prose-lead: hsl(var(--muted-foreground));
    --prose-links: hsl(var(--primary));
    --prose-bold: hsl(var(--foreground));
    --prose-counters: hsl(var(--muted-foreground));
    --prose-bullets: hsl(var(--border));
    --prose-hr: hsl(var(--border));
    --prose-quotes: hsl(var(--foreground));
    --prose-quote-borders: hsl(var(--border));
    --prose-captions: hsl(var(--muted-foreground));
    --prose-code: hsl(var(--primary));
    --prose-pre-code: hsl(var(--secondary-foreground));
    --prose-pre-bg: hsl(var(--secondary));
    --prose-th-borders: hsl(var(--border));
    --prose-td-borders: hsl(var(--border));
  }

  .dark {
    --background: 220 14% 10%;
    --foreground: 210 40% 98%;
    --card: 220 14% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 340 91.2% 59.8%;
    --primary-foreground: 220 13% 9%;
    --secondary: 217 33% 19%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 19%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 33% 19%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 340 91.2% 59.8%;

    --prose-body: hsl(var(--foreground));
    --prose-headings: hsl(var(--foreground));
    --prose-lead: hsl(var(--muted-foreground));
    --prose-links: hsl(var(--primary));
    --prose-bold: hsl(var(--foreground));
    --prose-counters: hsl(var(--muted-foreground));
    --prose-bullets: hsl(var(--border));
    --prose-hr: hsl(var(--border));
    --prose-quotes: hsl(var(--foreground));
    --prose-quote-borders: hsl(var(--border));
    --prose-captions: hsl(var(--muted-foreground));
    --prose-code: hsl(var(--primary));
    --prose-pre-code: hsl(var(--secondary-foreground));
    --prose-pre-bg: hsl(var(--secondary));
    --prose-th-borders: hsl(var(--border));
    --prose-td-borders: hsl(var(--border));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}